<div class="modal-example">
    <div class="modal">
        <div class="modal-dialog modal-sm modal-alert">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 id="modal1_title" class="modal-title">Save Change</h4>
                </header>
                <div class="modal-body">
                    <p>Do you want to save these changes?</p>
                </div>
                <footer class="modal-footer flex">
                    <button class="btn btn-default">Cancel</button>
                    <button class="btn btn-primary">Save</button>
                </footer>
            </div>
        </div>
    </div>
</div>